.top {
	background: url('../images/pet/top_background.png') center center no-repeat;
}

.middle {
	background: url('../images/pet/middle_background.png') center center no-repeat; 
}

.bottom {
	background: url('../images/pet/bottom_background_1.png') center center no-repeat;
	padding-top: 40px;
	padding-bottom: 120px;
}

.bottom_2 {
	background: url('../images/pet/bottom_background_2.png') center center no-repeat;
}

.top, .middle, .bottom, .bottom_2 {
	width: 100%;
	height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}

.top_img {
	max-width: 80%;
	height: auto;
}

#intro {
	padding-bottom: calc(5/250*100%);
}

.middle {
	position: relative;
	background-color: #F7F7F7;
}

.middle_img {
	max-width: 100%;
	height: auto;
}

#insert_info {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}

.input_info, .input_dog_info {
	height: 50px;
	font-size: 23px;
	border: 2px solid #007f41;
	border-radius: 20px;	
}

.input_info{
	margin-bottom: 20px;
}

#bottom_intro_ment {
	padding-top: 20px;
	padding-bottom: 40px;
}

#messenger_pic {
	padding-top: 20px;
	padding-bottom: 20px;
}

#bottom_finale_ment {
	padding-top: 40px;
	padding-bottom: 20px;
}

#bottom_border {
	padding-top: 40px;
	padding-bottom: 40px;
}

#explanation_intro_ment {
	padding-top: 20px;
	padding-bottom: 50px;
}

.other_ment {
	padding-top: 50px;
	padding-bottom: 30px;
}

#teeth_button {
	padding-bottom: 50px;
}

body, html {
	background-color: #F7F7F7;
	margin: 0;
	padding: 0;
	border: none;
	overflow-x: hidden;
	width: 100%;
	clear: both;
}

img {
	max-width: 80%;
	height: auto;
}

div {
	text-align: center;
}